* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, #ffffff, #c4b4b4, #ffffff, #c4b4b4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.title {
  font-size: 2.5rem;
  width: 90%;
  margin: 0px auto 50px auto;
}

.img-container {
  border-radius: 50%;
  width: 200px;
  margin: auto;
  height: 200px;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px 1px rgb(173, 173, 173);
}

.main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.name {
  margin-bottom: 100px;
  font-size: 1.5rem;
}

.main {
  align-items: center;
  text-align: center;
}

.project-section {
  display: flex;
  flex-direction: column;
  margin: 0px auto 100px auto;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 3px 3px 3px 1px rgb(179, 179, 179);
  width: 80%;
  margin: 0px auto 100px auto;
}

.card-img {
  width: auto;
  display: flex;
  align-items: center;
  height: 20vh;
}
.card-info {
  flex-direction: column;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  height: auto;
}

.card-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-info span {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
}

.card-info h3 {
  font-size: 1.5rem;
  font-weight: 300;
  width: 90%;
  margin: 50px auto 20px auto;
}

.card-info p {
  font-size: 1rem;
  font-weight: 300;
  width: 80%;
  margin: auto;
}

.card-info .bottom-p {
  margin-bottom: 50px;
}

.card-info a {
  padding: 10px;
  width: fit-content;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid black;
}

.card-info a:hover {
  background-color: white;
  color: black;
}

.rainydays-logo {
  width: 300px;
}

.semester-logo {
  width: 150px;
}

.project-logo {
  width: 200px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1024px) {
  section {
    margin-top: 50px;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  .img-container {
    margin-bottom: 25px;
  }
  .name {
    margin-bottom: 50px;
    font-size: 1rem;
  }
  .project-section {
    margin-bottom: 50px;
  }
  .card {
    margin-bottom: 50px;
    width: 90%;
  }
  .card-info {
    margin-bottom: 50px;
  }
  .card-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .card-info span {
    font-size: 0.9rem;
  }
  .card-info h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
  }
  .card-info p {
    font-size: 0.9rem;
  }
  .card-info .bottom-p {
    margin-bottom: 25px;
  }
  .card-info a {
    padding: 5px;
    width: fit-content;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 25px;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .img-container {
    margin-bottom: 10px;
  }
  .name {
    margin-bottom: 25px;
    font-size: 0.9rem;
  }
  .project-section {
    margin-bottom: 25px;
  }
  .card {
    margin-bottom: 25px;
    width: 100%;
  }
  .card-info {
    margin-bottom: 25px;
  }
  .card-info h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .card-info span {
    font-size: 0.8rem;
  }
  .card-info h3 {
    font-size: 0.9rem;
  }
  .card-info p {
    font-size: 0.8rem;
  }

  .card-info a {
    padding: 5px;
    width: fit-content;
    font-size: 0.9rem;
  }
}
