.project-container {
  background-color: yellow;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .project-title {
    margin-bottom: 2rem;
  }
  .card-link {
    margin: 0 auto 2rem auto;
    text-decoration: none;
    .card-container {
      max-width: 30rem;
    }
  }
  .card-link:hover {
    color: white;
  }
}
